.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 1180px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}