@import "../../helpers/variables";

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24x;
}

.carousel_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 1180px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
}

.carousel_container__main_shot_caption {
    position: absolute;
    bottom: 0.8em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: $huge;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.75);
    z-index: 1;
}

.carousel_container__button {
    position: relative;
    right: 250px;
    top: 210px;
    padding: 7px;
    border: solid 1px #979797;
    background-color: #a6a6a6;
    color: #a6a6a6;
    background: none;
    border: none;
    z-index: 2;
    &:hover{
        color: $secondary-color;
        cursor: pointer;
    }
}