@import "../../helpers/variables";

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24x;
}

.fas.fa-user-alt {
    font-size: 20px;
}

.fas.fa-shopping-cart {
    font-size: 28px;
}

.fas.fa-tasks {
    font-size: 22px;
}


.product {
    position: relative;
    width: 344px;
    height: 304px;
}

.product__photo {
    position: absolute;
    left: -2.5em;
    height: 100%;
    width: 100%;
    background-color: #333333;
}


.product__favorite_button {
    position: absolute;
    top: 5px;
    left: 310px;
    color: #db137f;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

// .product {                                               nesting gia bem
//     &__favorite_icon {}
// }

.product__favorite_icon {
    width: 22px;
    height: 20px;
    background-color: $primary-color;
}

.product__photo_box {
    position: absolute;
    width: 344px;
    height: 140px;
    bottom: 0px;
    background-color: rgba(66, 66, 66, 0.5);
    font-family: Roboto;
    font-size: $medium;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}


.product__title {
    font-family: Roboto;
    font-size: $small;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 16px;
}

.product__subtitle {
    font-family: Roboto;
    width: 200px;
    font-size: $xsmall;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 0;
    text-align: left;
    padding-left: 16px;
}

.product__discover {
    width: 111px;
    height: 16px;
    font-family: Roboto;
    font-size: $xsmall;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-left: 16px;
    cursor: pointer;
}

.product__price {
    position: absolute;
    top: 0px;
    left: 260px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: $xxlarge;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

.product__ex_price {
    position: absolute;
    top: 50px;
    left: 270px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: $medium;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #c7c7c7;
}

.product__ex_price_line {
    position: absolute;
    bottom: 50%;
    width: 100%;
    height: 2px;
    background-color: #db137f;
    transform: rotate(-22deg);
}

.product__image {
    height: 304px;
    width: 344px;
    cursor: pointer;
}