@import "../../helpers/variables";

.material-icons.md-18 {
    font-size: 18px; 
}
  
.material-icons.md-24 {
    font-size: 24x; 
}

.fas.fa-tasks {
    font-size: 22px; 
}

.magenta{
    color: $primary-color;
    cursor: pointer;
}

.section_of_products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    max-width: 1180px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid $primary-color;
    margin-bottom: 50px;
}

.section_of_products__type {
    font-family: Roboto;
    font-size: $xxlarge;
    color: #5d5d5d;
}

.section_of_products__quantity {
    font-family: Roboto;
    font-size: $basic;
    color: #9a9a9a;
    margin-bottom: 0;
    cursor: pointer;
}