@import "../../../helpers/variables";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.header__navButton {
    font-family: Roboto;
    font-size: $xlarge;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0 10px;
    padding-bottom: 23px;
    border-bottom: 4px solid $primary-color;


    &:hover {
        border-bottom-color: $secondary-color;
    }
}