@import "../helpers/variables";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.header {
    background-color: $primary-color;
    width: 100%;

    &__container{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 1180px;
        height: 80px;
        align-items: center;

        &__logo{
                position: relative;
                top: 11px;
        }
    }
}